In [7]:
import pandas as pd
pd.read_excel('/Users/uian/Downloads/ManagerCheck.xls',index_col='费用(元)')

       管理员          用户名          账户名 用户姓名   住址 计费来源                 生成时间
费用(元)
1.00   NaN  MX120180339  MX120180339  NaN  NaN   缴费  2019-10-22 08:35:39
30.00  NaN    171201123    171201123   潘炜  NaN   缴费  2019-10-22 08:34:59
10.00  NaN    170102336    170102336   谢羿  NaN   缴费  2019-10-22 08:34:54
30.00  NaN  MX120170288  MX120170288   沈超  NaN   缴费  2019-10-22 08:34:39
20.00  NaN  MZ120180499  MZ120180499   王萱  NaN   缴费  2019-10-22 08:34:33
...    ...          ...          ...  ...  ...  ...                  ...
2.97   NaN    191901122    191901122  吴田媛  NaN   缴费  2019-10-15 07:04:45
11.00  NaN    190301134    190301134  吴佳缘  NaN   缴费  2019-10-15 07:03:49
1.00   NaN    190102419    190102419  吴乐怡  NaN   缴费  2019-10-15 07:02:35
30.00  NaN    192304212    192304212   戚佳  NaN   缴费  2019-10-15 07:02:21
30.00  NaN    192802214    192802214  罗东芹  NaN   缴费  2019-10-15 07:01:48

[3130 rows x 7 columns]